<h1 class="text-center"><%= @list.name.titleize %>
    <br>
    <%= link_to "Add an Item to This List", new_list_item_path(@list), class: "btn btn-success add-item" %>
    <div class="clear"></div>
</h1>
  
<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash.now[:notice] %></div>
<% end %>
    <div class="well well-md">
        <table class="table">
                <thead>
                  <tr>
                          <th>Item</th>
                          <th>Quantity</th>
                          <th>Description</th>
                          <th>Buy</th>
                  </tr>
                </thead>

            <tbody>
                  <% @list.items.reverse.each do |g| %>
                    <tr>
                        <td><%= link_to g.name, list_item_path(@list, g) %></td>
                        <td><%= g.quantity %></td>
                        <td><%= g.description %></td>
                        <td id="buy-button"><%= link_to 'Buy It!', list_item_path(@list, g), :method => :delete, class: "btn btn-success btn-xs" %></td>
                    </tr>
                  <% end %>
            </tbody>
        </table>
    </div>
