<div class="col-sm-4"></div>
<div class="col-sm-4">
    <div class="well well-md">
        <% if flash[:notice] %>
            <div class="alert alert-danger"><%= flash.now[:notice] %></div>
        <% end %>

        <% if flash[:sign_in] %>
            <div class="alert alert-danger"><%= flash.now[:sign_in] %></div>
        <% end %>

        <% if flash[:goodbye] %>
          <div class="alert alert-info"><%= flash.now[:goodbye] %></div>
        <% end %>
        <h1>Log In</h1>
            <%= form_for :session, :url => sessions_path do |f| %>
                Email: <%= f.text_field :email, class: "form-control" %>
                Password: <%= f.password_field :password, class: "form-control" %>
                <%= f.submit "Submit", class: "btn btn-success" %>
            <% end %>
            <div class="clear"></div>

    </div>
</div>
<div class="col-sm-4"></div>