
    <%= form_for [@list, @item] do |i| %>
        Item: <%= i.text_field :name, class: "form-control" %>
        Quantity: <%= i.text_field :quantity, class: "form-control" %>
        Description: <%= i.text_field :description, class: "form-control" %>
        <%= i.submit "Submit", class: "btn btn-success" %>
        <div class="clear"></div>
    <% end %>
