<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<h1 class="text-center">All the Current Items to Buy</h1>
    <div class="well well-md">
        <table class="table">
                <thead>
                  <tr>
                    <div class="col-md-3"><th>Item</th></div>
                    <div class="col-md-6">
                        <th>Quantity</th>
                        <th>Description</th>
                        <th>Edit</th>
                    </div>
                    <div class="col-md-3"><th>Buy</th></div>
                  </tr>
                </thead>

            <tbody>
                  <% @items.reverse.each do |g| %>
                    <tr>
                      <td><%= link_to g.name, item_path(g) %></td>
                      <td><%= g.quantity %></td>
                      <td><%= g.description %></td>
                      <td><%= link_to 'Edit', edit_item_path(g), class: "btn btn-info" %></td>
                      <td><%= link_to 'I Bought It!', item_path(g), method: :delete, class: "btn btn-success" %></td>
                    </tr>
                  <% end %>
            </tbody>
        </table>


    </div>
