<div class="col-md-4"></div>
    <div class="col-md-4">
    <div class="well well-lg">
        <h1><%= @item.name %></h1>
            <p>Quantity: <%= @item.quantity %></p>
            <p>Description: <%= @item.description %></p>

        <%= link_to "Edit this Item", edit_list_item_path(@list, @item), class: "btn btn-info form-control" %>
        <br>
        <%= link_to "Remove This Item From the List", {:action => 'destroy'}, :method => :delete, class: "btn btn-success item-show form-control"  %>
        <div class="clear"></div>
    </div>
</div>
<div class="col-md-4"></div>